@import "color.css";

window#waybar {
    background-color: transparent;
    color: black;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#custom-archmenu,
#group-power,
#group-fan,
#gcpu,
#memory,
#disk,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#time,
#tray,
#workspaces,
#mpris {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    margin: 0px 2px;
    padding: 0px 5px;
}

#workspaces {
    margin: 0px;
    padding: 0px;
}
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}
#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.91);
    border-radius: 5px;
}

#group-power {
    padding: 0px;
}
#power{
    margin: 0px 10px;
    padding: 0px 10px;
}
#quit,
#lock,
#reboot {
    padding: 0px 5px;
    margin: 0px 5px;
}
#custom-archmenu {
    font-size: 20px;
    color: red;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0px 14px 0px 10px;
    margin: 0px;
}
#fan {
    padding-right: 0px;
}
#disk {
    padding-right: 7px;
}
#network {
    padding-right: 10px;
}
#backlight {
    padding-right: 8px;
}
