@import "color.css";

@keyframes blink-critical {
    to {
        /*color: @white;*/
        background-color: @red;
    }
}

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

window#waybar {
    font-size: 13px;
    color: @foreground;
    background-color: @backgound-darker;
    transition-property: background-color;
    transition-duration: 0.5s;
    border: 2px solid @purple;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}

#workspaces {
    margin: 4px 4px 6px 4px;
}
#workspaces button {
    color: @foreground;
    background-color: @selection;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    padding: 3px 3px 3px 3px;
    margin: 0px 2px 0px 2px;
}
#workspaces button.active {
    color: @background;
    background-color: @green;
    padding: 3px 10px 3px 10px;
    margin: 0px 4px 0px 4px;
}

#workspaces button:not(.active):hover {
    color: @base;
    background-color: @backgound;
}

#workspaces button.urgent {
    color: @background;
    background-color: @orange;
}

#custom-wlogout,
#custom-archmenu,
#group-power,
#group-fan,
#gcpu,
#memory,
#disk,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#time,
#tray,
#mpris,
#fan,
#custom-power-profile,
#custom-gpu-profile,
#tray,
#custom-gamemode,
#custom-notification {
    border-radius: 10px;
    margin: 4px 4px 6px 4px;
    padding: 3px 5px 3px 5px;
}

#custom-wlogout {
    background-color: @red;
    margin-left: 10px;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
}

#bluetooth {
    color: @background-darker;
    background-color: @cyan;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
}

#battery {
    color: @background-darker;
    background-color: @green;
}

#backlight {
    color: @background-darker;
    background-color: @yellow;
    padding: 3px 5px 3px 5px;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
}

#pulseaudio {
    color: @background;
    background-color: @pink;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}
#pulseaudio.mic {
    margin-left: 0px;
    margin-right: 4px;
    border-radius: 0px 10px 10px 0px;
}

#network {
    color: @background-darker;
    background-color: @green;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
}

#mpris {
    background-color: @selection;
}

#time {
    color: @base;
    background-color: @comment;
}

#gcpu {
    color: @background;
    background-color: @cyan;
}

#memory {
    color: @background;
    background-color: @purple;
}

#disk {
    color: @background;
    background-color: @orange;
}

#fan {
    color: @foreground;
    background-color: @comment;
}

#custom-power-profile {
    color: @background;
    background-color: @green;
}

#custom-gpu-profile {
    color: @background;
    background-color: @pink;
}

#tray {
    background-color: @selection;
}
#custom-gamemode {
    background-color: @red;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
}
#custom-notification {
    color: @yellow;
    background-color: @comment;
    margin-right: 10px;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
}
#clock {
    margin-right: 3px;
}

#clock.date {
    margin-left: 3px;
    margin-right: 0px;
}
